/* Global styling */
* {
    margin: 0;
    padding: 0;

    /* Hide scrollbar for IE, Edge and Firefox following instructions from: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}


body {
}

#background {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -999;
}

#partOne {    
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}
#partTwo {    
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}
#partThree {    
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}
#partFour {    
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}
#partFive {    
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}
#partSix {    
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}
#partSeven {    
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}
#partEight {    
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}
#partNine {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}
#partTen {    
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}
#partEleven {    
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}
#partTwelve {    
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}
#partThirteen {    
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -888;
}