/* Global styling */
* {
    margin: 0;
    padding: 0;

    /* Hide scrollbar for IE, Edge and Firefox following instructions from: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

/* Containers */
.containers {
    width: 100%;
    height: 100%;
}

/* Background */
#background {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -999;
}

/* Parts */
#partsContainer {
    display: none;
    #partOne {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }

    #partTwo {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }

    #partThree {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -887;
    }

    #partFour {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -886;
    }

    #partFive {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -885;
    }

    #partSix {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -884;
    }

    #partSeven {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -883;
    }

    #partEight {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -882;
    }

    #partNine {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -881;
    }

    #partTen {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -880;
    }

    #partEleven {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -879;
    }

    #partTwelve {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -878;
    }

    #partThirteen {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -877;
    }
}

/* Highlights */
#highlightsContainer {

    #highlightOne {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightOneDiv {
        width: 10.8vw;
        height: 17vh;
        top: 40vh;
        left: 28vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightTwo {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightTwoDiv {
        width: 8.8vw;
        height: 24vh;
        top: 18vh;
        left: 15vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightThree {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightThreeDiv {
        width: 7.8vw;
        height: 11vh;
        top: 24vh;
        left: 29vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightFour {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightFourDiv {
        width: 6.3vw;
        height: 23.6vh;
        top: 65vh;
        left: 3.5vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightFive {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightFiveDiv {
        width: 3vw;
        height: 10.4vh;
        top: 53.4vh;
        left: 41.7vw;
        position: fixed;
        background: #ff000059;
        z-index: 2;
    }

    #highlightSix {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightSixDiv {
        width: 1.47vw;
        height: 7vh;
        top: 52.5vh;
        left: 48.6vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightSeven {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightSevenDiv {
        width: 5.7vw;
        height: 9.9vh;
        top: 28.3vh;
        left: 46.3vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightEight {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightEightDiv {
        width: 3.9vw;
        height: 11vh;
        top: 52vh;
        left: 44.7vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightNine {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightNineDiv {
        width: 1.9vw;
        height: 12.8vh;
        top: 56.5vh;
        left: 51vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightTen {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightTenDiv {
        width: 3vw;
        height: 12vh;
        top: 70.9vh;
        left: 45.4vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightEleven {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightElevenDiv {
        width: 7.4vw;
        height: 15.2vh;
        top: 38vh;
        left: 53vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightTwelve {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightTwelveDiv {
        width: 4.7vw;
        height: 12.2vh;
        top: 60.7vh;
        left: 16vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightThirteen {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightThirteenDiv {
        width: 4.5vw;
        height: 14.8vh;
        top: 68.8vh;
        left: 40.4vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightFourteen {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightFourteenDiv {
        width: 3.5vw;
        height: 7vh;
        top: 51.6vh;
        left: 3.3vw;
        position: fixed;
        background: #ff000059;
    }

    #highlightFifteen {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -888;
    }
    #highlightFifteenDiv {
        width: 6.6vw;
        height: 7.5vh;
        top: 44.3vh;
        left: 60.45vw;
        position: fixed;
        background: #ff000059;
    }
}